<div class="root">
    <h2>{{myProduct.title | uppercase}}</h2>
    <img src={{myProduct.imageUrl}} alt="product image" width="100">
    <p>{{myProduct.description}}</p>
    <p *ngIf="myProduct.prices">Types disponibles :</p>
    <select (change)="onChange($event)">
        <option *ngFor="let current of myProduct.prices; let i = index" [value]="i">{{current.type}}</option>
    </select>
    <div class="price-likes">
        <br>
        <b>{{selectedType | currency: 'EUR'}}</b>
        <br>
        <span>{{myProduct.date_added | date: 'fullDate':'':'fr'}}</span>
    </div>
</div>