<div style="text-align:center" class="content">
  <div class="search-bar">
    <div>
      <input type="text" id="search" name="search" [(ngModel)]="search" placeholder="Recherche..."/>
    </div>
<!--      <div>La recherche : {{search}}</div>-->
    <div class="sort-by-name">
      <button class="sort-by-name-button" (click)="SortOrder()">Sort by name</button>
    </div>
  </div>
<!--  <a *ngFor="let product of (productsObservable | async)" [routerLink]="['product', product.id]">-->
<!--    <app-product-card [myProduct]="product">-->
<!--    </app-product-card>-->
<!--  </a>-->
  <div class="products-list">
<!--    <app-product-card *ngFor="let product of (productsObservable | async)" [myProduct]="product" class="products"></app-product-card>-->
    <app-product-card *ngFor="let product of (productsObservable | async | sortByNameList: order | sortByName:search)" [myProduct]="product" class="products"></app-product-card>
  </div>
</div>